.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    img {
        max-width: 150px;
    }
    p {
        margin: 0;
        font-size: 1rem;
        color: var(--dark-blue);
        font-weight: 400;
      }
}