.management-container {
  background-color: var(--gray);
  width: 100%;
  padding: 50px 0 0 0;
  position: relative;
}

.management {
  position: relative;
  &_flex {
    display: flex;
    @media (max-width:991px) {
      flex-direction: column;
    }
  }
  &_slider-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding-right: 2rem;
    @media (max-width:991px) {
        flex-direction: column;
        padding-right: 0;
    }
    @media (max-width:550px) {
        flex-direction: column;
        gap: 2rem;
    }
  }
  &_title {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 10%;
    h2 {
      font-size: 12vw;
      font-family: var(--font-main);
      color: var(--white);
      opacity: 0.4;
      text-align: center;
      margin-bottom: 2.5rem;
      font-weight: 100;
    }
  }
  &_images {
    z-index: 2;
    max-height: 100%; 
    img {
      object-position: center;
    }
  }
  &_info {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    @media (max-width:991px) {
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 200%;
        max-width: 100vw;
        background-color: white;
        left: -20%;
        visibility: hidden;
      }
    }
    .management-text {
      width: 100%;
      height: 100%;
      padding: 40px 40px;
      .management {
        &-title {
            gap: 1rem;
            padding-bottom: 10px;
            border-bottom: 2px solid var(--light-blue);
        }
        &-subtitle {
            padding-right: 1rem;
            padding-top: 1rem;
        }
      }
      h3 {
        color: var(--white);
        font-size: 2.25rem;
        font-family: var(--font-var);
        text-align: left;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        @media (max-width: 1400px) {
          font-size: 2rem;
        }
        @media (max-width: 768px) {
          font-size: 1.75rem;
        }
        @media (max-width: 550px) {
          font-size: 1.5rem;
        }
      }
      span {
        color: var(--light-blue);
        font-size: 1rem;
        font-family: var(--font-main);
        text-align: left;
        font-weight: 400;
        margin: 0;
        @media (max-width: 1400px) {
          font-size: 1.75rem;
        }
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
        @media (max-width: 550px) {
          font-size: 1.25rem;
        }
      }
      P {
        font-family: var(--font-sub);
        text-align: left;
        color: var(--white);
        font-size: 1.15rem;
        font-weight: 200;
        @media (max-width:1400px) {
            font-size: 1.1rem;
        }
        @media (max-width:768px) {
            font-size: 1rem;
        }
        @media (max-width:550px) {
            font-size: 1rem;
        }
    }
    }
  }
}

.fader-bg-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  @media (max-width:991px) {
    height: 0;
  }
}