// $main-font-color: rgb(80, 80, 80);
// $main-basic: #79629d;
// $main-basic-light: #D0CEDC;
// $main-basic-dark: #533682;
// $main-basic-mat: #8e8aa7;
// $blue: #00A0E3;
// $grey: #656565;
// $white: #ffffff;
// $black: #000000;


:root {
    /*
	--white: #fefefe;
    --black: #000;
    --dark-gray: #949494;
    --gray:#dfdfdf;
    --light-blue: #7395ae;
    --blue: #2779a7;
    --dark-blue:#24455c;
*/
    --white: #fefefe;
    --light-gray:#F5F4F6;
    --gray:#d0d3d4;
    --dark-gray:#5b6770;
    --black: #25282a;
    --shadow-black:#3A3A3A;
    --light-blue: #9CCEF3;
    --blue:#009EE0;
    --dark-blue:#003b49;
    /*
    --dark-blue:#24455c;
    */
}

:root {
    /*
    --font-main: "Jost", sans-serif;
    --font-sub: "Raleway", sans-serif;
    --font-var: "Rubik", sans-serif;
    */
    --font-main: "Fira Sans", Arial;
    --font-sub: "Fira Sans", Arial;
    --font-var: "Fira Sans", Arial;
}